@import "tailwindcss";

:root {
  --blue: #0070ad;
  --black: #111111;
  --white: #ffffff;
  --off-white: #f9f9f7;
  --gray: #444440;
  --light-gray: #e8e8e4;
  --serif: var(--font-serif);
  --sans: var(--font-inter);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font-inter), 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #0047FF;
  color: #ffffff;
}

.serif {
  font-family: var(--font-serif), Georgia, serif;
}

.body-copy {
  max-width: 560px;
  line-height: 1.85;
  letter-spacing: 0.012em;
  font-weight: 400;
}

.label-text {
  font-size: 0.6875rem;
  line-height: 16px;
  letter-spacing: 0.18em;
  font-weight: 400;
  text-transform: uppercase;
}

section{
  margin: 48px !important;
  padding-left:48px !important;
  padding-right:48px !important;
  padding-top:48px;
}
